.logo {
  width: 16%;
  margin-left: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'News Cycle', sans-serif;
  padding: 1em;
  color: black;
}

#header-container a {
  text-decoration: none;
  border-radius: 5px;
  text-shadow: .5px .5px white;
  font-size: 2vw;
  padding: 1em;
  border: 1px solid gray;
  margin-right: 1em;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

#header-container a:link {
  color: #454d6d;
  letter-spacing: .5vw;
}
#header-container a:visited {
  color: palevioletred;
}
#header-container a:hover { 
  background-color:  #454d6d;
  color: rgb(221, 162, 176);
}

#header-container h1 {
  font-weight: bold;
  font-size: 5vw;
}
