body {
  font-family: 'News Cycle', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

dt {
  background-color: black;
  color: white;
  padding: 2px;
  font-size: 1.3em;
  width: 200px;
}

dd {
  background-color: lightyellow;
  font-size: 1.1em;
  padding: 8px;
  letter-spacing: 2px;
  border-left: 2px solid black;
  margin-bottom: 16px;
  width: 70%;
}
