body {
  margin: 0;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  font-size: .75em;
  line-height: 1.25em;
  font-family: 'News Cycle', sans-serif;
  padding: .1vw;
  margin-left: 1vw;
 
}

#film-list a {
  text-decoration: none;
  border-radius: 5px;
  padding: .5vw;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

#film-list a:link {
  color: white;
}

#film-list a:visited {
  color: yellow;;
}

#film-list a:hover { 
  background-color: red;
  text-shadow: 1px 1px black;
}

#main-container {
  background-color: black;
  display: flex;
  letter-spacing: 4px;
  width: 100%;
  padding: 1em;
}

#catbus {
  
  height: 35%;
  width: 35%;
  margin: -2em 1em 0em em; 
}
